<div class="container-fluid fill cs-bg">
  <div class="cs-name cs-color ">
    Nikash Narendra
  </div>
  <div class="cs-vertical-center">
    <div class="container right-column">
        <div class="col-md-6 col-md-offset-6">
          <div class="well well-lg coming-soon-box insetshadow">
            Under construction. Coming soon...
          </div>
        </div>
    </div>
  </div>
  <div class="cs-color social-connections">
    {{fa-icon "envelope" size=3 class="social-icon" click=(action "connect" "email")}}
    {{fa-icon "linkedin-square" size=3 class="social-icon" click=(action "connect" "linkedin")}}
    {{fa-icon "facebook-official" size=3 class="social-icon" click=(action "connect" "facebook")}}
  </div>
  <div class="cs-color copyright container right-column">
    <div class="col-md-6 col-md-offset-6">
      Copyright &copy; {{currentYear}} Nikash Narendra
    </div>
  </div>
</div>