<div id="work" class="work">
  <h1>Work Experience</h1>

  <div class="work-info"> 
    <div class="col-md-6 work-grid work-left"> 
      <h4>2016 - Present</h4>
    </div>
    <div class="col-md-6 work-grid work-right"> 
      <h5>QPID Health, an eviCore Company</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="work-info"> 
    <div class="col-md-6 work-grid work-right work-even-right"> 
      <h4>2014 - 2016</h4>
    </div>
    <div class="col-md-6 work-grid work-left work-even-left"> 
      <h5>Amadeus North America</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="work-info"> 
    <div class="col-md-6 work-grid work-left"> 
      <h4>2013 - 2014</h4>
    </div>
    <div class="col-md-6 work-grid work-right"> 
      <h5>Yorango</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="work-info"> 
    <div class="col-md-6 work-grid work-right work-even-right"> 
      <h4>2012 - 2013</h4>
    </div>
    <div class="col-md-6 work-grid work-left work-even-left"> 
      <h5>Samsung Research India</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="work-info"> 
    <div class="col-md-6 work-grid work-left"> 
      <h4>2012 - 2012</h4>
    </div>
    <div class="col-md-6 work-grid work-right"> 
      <h5>National Instruments</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>