<div id="work" class="work">
  <h1>Work Experience</h1>

  <div class="work-info"> 
    <div class="col-md-6 work-grid work-left"> 
      <h4>July 2016 - Present</h4>
    </div>
    <div class="col-md-6 work-grid work-right"> 
      <h5>QPID Health, an eviCore Company</h5>
      <p>Have been productive across the stack by building applications / tooling around our NLP engine.</p>

      <p>Redesigning our question answering framework which is an integral core component shared across multiple of our applications to allow better scaling and interfacing to enable our constantly growing customer base.</p>

      <p>Created an Ember / Java RESTful application based on JsonAPI to manage groupings of clinical content for consumption by EHR systems. This reduced the effort for our content team drastically since this content was being manipulated in the form of flat files filled with medical codes designed for machine consumption.</p>

      <p>Adapted our question answering engine to allow grouping of answer evidence by specific search criteria. Created REST endpoints for computing statistics of our performance in evaluating cases.</p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="work-info"> 
    <div class="col-md-6 work-grid work-right work-even-right force-large-div"> 
      <h4>June 2014 - July 2016</h4>
    </div>
    <div class="col-md-6 work-grid work-left work-even-left"> 
      <h5>Amadeus North America</h5>
      <p>Was a part of an agile team that provided a framework for clients to customize Amadeus' eCommerce products by enhancing existing workflows or by adding new functionality. Technologically, this translated into providing a platform for third party programmers to develop, test and deploy code into our products, live in production. </p>

      <p>Personally, I contributed towards the development of some APIs, integration of the framework into a new product, worked on part of the framework for creating REST-like services on the fly, providing persistence API and other such features using Java, Javascript and Groovy.</p>

      <p>Mentored and worked with new hires and intern to help them ramp up and be productive.</p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="work-info"> 
    <div class="col-md-6 work-grid work-left"> 
      <h4>Dec 2013 - May 2014</h4>
    </div>
    <div class="col-md-6 work-grid work-right"> 
      <h5>Yorango</h5>
      <p>Redesigned the front-end for the rental management startup by Cornell students. Implemented a maintenance request tracking and resolving system using JavaScript and Django.</p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="work-info"> 
    <div class="col-md-6 work-grid work-right work-even-right"> 
      <h4>July 2012 - July 2013</h4>
    </div>
    <div class="col-md-6 work-grid work-left work-even-left"> 
      <h5>Samsung Research India</h5>
      <p>Managed the module on SMSoIP which is a service provided by the IP Multimedia Subsystem using Session Initiation Protocol. Provided simultaneous timely support to multiple network operators in the European region as a part of the team running trails in VoLTE. Developed a Module Test Framework for testing a particular module by eliminating various dependencies it had on the rest of the software. </p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="work-info"> 
    <div class="col-md-6 work-grid work-left"> 
      <h4>Feb 2012 - June 2012</h4>
    </div>
    <div class="col-md-6 work-grid work-right"> 
      <h5>National Instruments</h5>
      <p>Developed an automated test scheduler which provides a schedule for running tests on several conflicting and limited resources and their availability.</p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>