<div class="col-md-6 education-right">
  <h2>Certifications</h2>

  <div class="education-grids">
    <div class="education">
      <div class="education-year">
        <h4>2016</h4>
      </div>
      <div class="education-info">
        <h4>Oracle Certification</h4>
        <p>Java SE 7 Programmer</p>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="education two">
      <div class="education-year">
        <h4>2015</h4>
      </div>
      <div class="education-info">
        <h4>Oracle Certification</h4>
        <p>Java SE 7 Associate</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="col-md-6 education-left">
  <h2>Education</h2>

  <div class="education-grids">
    <div class="education">
      <div class="education-year">
        <h4>2013-2014</h4>
      </div>
      <div class="education-info">
        <h4>Cornell University</h4>
        <p>Master of Engineering</p>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="education two">
      <div class="education-year">
        <h4>2008-2012</h4>
      </div>
      <div class="education-info">
        <h4>R.V College of Engineering</h4>
        <p>Bachelor of Engineering</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
