<div class="container">
  <div class="row">
    <div class="col-xs-6 text-left">
      {{fa-icon "envelope" class="social-icon" click=(action "connect" "email")}}
      {{fa-icon "linkedin-square" class="social-icon" click=(action "connect" "linkedin")}}
      {{fa-icon "facebook-official" class="social-icon" click=(action "connect" "facebook")}}
    </div>
    <div class="col-xs-6 text-right">
      &copy; {{currentYear}} Nikash Narendra
    </div>
  </div>
</div>
