<div id="about" class="about">
  <h1>About me</h1>
  <div class="about-flex-parent">
    <div class="col-md-6 about-right"></div>
    <div class="col-md-6 about-left">

      {{#slick-carousel
          class="ember-carousel"
          autoplay=true
          autoplaySpeed=3000
          slidesToShow=1
          slidesToScroll=1
          pauseOnDotsHover=true
          mobileFirst=true
          dots=true
          fade=true}}
        <div>
          <div class="about-left-carousel">
            <h2>Hi! I'm <span>Nikash Narendra</span></h2>
            <p>Quick learning software developer with skills across the spectrum ranging from design to deployment.</p>

            <p>At QPID, working on multiple projects such as redesigning the survey engine behind prior authorization of procedures, generating / processing clinical content and managing groupings of such content for consumption by EHR systems.</p>

            <p>Have worked in the travel industry for the world's largest Global Distribution System (GDS) acquiring experience with large scale eCommerce platforms.</p>

            <p>I strive to be reliable and thorough. I enjoy challenges and tend to take initiative. I like to learn and share knowledge, both on and off the job, helping me meld into most settings.</p>

            <p>Graduated from Cornell with an Master's degree in Computer Science. During this time, created an Android application which integrated various essential services for students at Cornell. </p>

            <p>Received my Bachelor's degree in Computer &amp; Information Science from RV College of Engineering, Bangalore. Also am an Oracle Certified Professional in Java SE 7.</p>
          </div>
        </div>
        <div>
          <div class="about-left-carousel">
            <h2>Hi! I'm <span>Nikash Narendra</span></h2>
            <table>
              {{#each info as |item|}}
                <tr>
                  <td>{{item.label}}</td><td>{{{item.data}}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/slick-carousel}}
    </div>
  </div>
</div>