<div class="banner">
  <div class="banner-overlay">
    <h1>Nikash Narendra</h1>
    <h2> - <span>Full Stack Developer</span> - </h2>

    <div class="nav">
      {{#each navs as |nav|}}
        {{nav-icon icon=nav.icon text=nav.text}}
      {{/each}}
    </div>
  </div> 
</div>
