@import "ember-bootstrap/bootstrap";
@import "components/coming-soon";
@import "components/site-banner";
@import "components/site-about";
@import "components/section-work";
@import "components/section-skills";
@import "components/section-education";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-size: 1.11vw;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center;
  // font-family: 'Montserrat', sans-serif;
}

.footer {
  width: 100%;
  min-height: 1rem;
  color: white;   
  background-color: #333; /* This color gets inverted color or you can add navbar inverse class in html */
}

.centered-div {
  text-align: center;
}

.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  margin-bottom: 0px;
}

.navbar li { color: #000 }

.font-white {
  color: #fff;
}

.color-grey {
  color: #333;
}

.mouse-pointer {
  cursor: pointer;
}

.section h1 {
  font-size: 4rem;
  letter-spacing: 0.13rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  /*height: 600vh;*/
}

/*.section-100 > .ember-view {
  height: 100%
}*/

.scrollToTop{
  color: #666;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 2.5rem;
  display: none;
}