.education-right {
  float: right;
  padding: 1rem 3rem;
  background: #f4f4f4;
}

.education-left {
  float: left;
  padding: 1rem 3rem;
  background: linear-gradient(rgba(0.6, 0.6, 0.6, 0.6), rgba(0.6, 0.6, 0.6, 0.6)),
              url(images/edu-bg.jpg) no-repeat 0px 0px;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}

.education-left h2, .education-right h2 {
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.education-right h2 {
  color: #111;
}

.education-left h2 {
  color: #cacaca;
}

.education-year {
  float: left;
  width: 40%;
}

.education-year h4 {
  font-size: 1rem;
  letter-spacing: 2px;
}

.education-right .education-year h4 {
  color: #333;
}

.education-left .education-year h4 {
  color: #c7c7c7;
}

.education-year h6 {
  padding: 1rem;
  font-style: italic;
  font-size: 0.75rem;
}

.education-info {
  float: right;
  width: 59%;
}

.education-info h4 {
  text-align:left;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.education-right .education-info h4 {
  color: #333;
}

.education-left .education-info h4 {
  color: #c7c7c7;
}

.education-info p {
  color: #777;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.education.two {
  border-top: 1px solid #ddd;
  padding: 2rem 0;
}

@media screen and (max-width: 1000px) {
  .education-right {
    float: none;
    font-size: small;
  }

  .education-left {
    float: none;
    font-size: small;
  }
}