.about {
  margin-top: 1rem;
}

.about-right {
  background: url(images/about-bg.jpg) no-repeat 0px 0px;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}

.about-left {
  padding: 4rem 0 3rem 0;
  background: #f4f4f4;
}

.slick-slide, .slick-slide *{ outline: none !important; }

.about-left-carousel {
  h2 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  p {
    font-size: 1rem;
    padding: 0 2rem 0 2rem;
    line-height: 1.75rem;
    text-align: justify;
  }

  table {
    margin: 2rem auto 0 auto;

    td {
      padding-right: 2rem;
      padding-bottom: 1.5rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .about-flex-parent {
    display: flex;
  }

  .about-right, .about-left {
    flex: 1;
  }

  .about-left {
    order: 1;
  }

  .about-right {
    order: 2;
  }

}

@media screen and (max-width: 1000px) {
  .about-right {
    float: none;
    min-height: 70rem;
  }

  .about-left {
    float: none;
    padding: 4.5em 0 4.7em 0;
  }

  .about-left-carousel {
    h2 {
      font-size: 3rem;
      padding-bottom: 2rem;
    }

    p {
      font-size: 2rem;
      line-height: 2.5rem;
      padding: 0 4rem 0 4rem;
    }

    table {
      font-size: 2rem;
      margin: 4rem auto 0 auto;

      td {
        padding-right: 4rem;
        padding-bottom: 1.5rem;
      }
    }
  }
}